$text-color: #303C42;
$link-color: #29BF95;

$btn-color: #25AE88;
$btn-hover-color: #29BF95;
$btn-disabled-color: #CDDEDA;
$btn-active-color: #29BF95;

$border-color: rgba(56, 70, 77, 0.4);
$background-color: #E7F0F0;
$block-color: #FFFFFF;
$accent-color: #FFD600;

$input-color: #F4F3FE;
$tag-color: #F4F3FE;
$error-color: #782626;
